<div id="visit-detail-modal-container">
  <div id="visit-detail-modal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered initial" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row w-100 justify-content-center">
            <div class="col-11">
              <h6 class="modal-title font-weight-bold text-uppercase text-primary">Visita </h6>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row justify-content-center">
            <div class="col-11">
              <h6 class="text-light-gray">Datos de la visita</h6>

              {{#if images.length}}
              <label for="exampleInputEmail1">Imagenes</label>
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner w-100">
                  {{#each images}}
                  <div class="carousel-item  {{#if @first}} active {{/if}}" style="text-align: center">
                    <img class="img-property img-fluid" src="{{this}}" alt="{{name}}">
                  </div>
                  {{/each}}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              {{/if}}
              <div class="form-row">
                <div class="form-group col">
                  <label for="exampleInputEmail1">Creada</label>
                  <p>{{momentDateFormat created_at "lll"}}</p>
                </div>
                <div class="form-group col">
                  <label for="exampleInputEmail1">Tipo</label>
                  <p>{{guestType}}</p>
                </div>
                <div class="form-group col">
                  <label for="exampleInputEmail1">Horario</label>
                  <p>{{partOfDay}}</p>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <label for="exampleInputEmail1">Día de la visita</label>
                  <p>{{momentDateFormat dayOfVisit "lll"}}</p>
                </div>
                <div class="form-group col">
                  <label for="exampleInputEmail1">Tipo</label>
                  <p>{{kind}}</p>
                </div>
                {{#if note}}
                  <div class="form-group col">
                    <label for="exampleInputEmail1">Nota:</label>
                    <p>{{ note }}</p>
                  </div>
                {{/if}}
              </div>
              <h6 class="text-light-gray">Datos del residente</h6>
              {{#with resident}}
              <div class="form-row">
                <div class="form-group col">
                  <label for="exampleInputEmail1">Nombre</label>
                  <div class="d-flex">
                    <p>{{name}}</p>
                    <img class="avatar" src="{{image}}">
                  </div>

                </div>
                <div class="form-group col">
                  <label for="exampleInputEmail1">Cédula</label>
                  <p>{{identification}}</p>
                </div>
                <div class="form-group col">
                  <label for="exampleInputEmail1">Correo</label>
                  <p>{{email}}</p>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <label for="exampleInputEmail1">Telf</label>
                  <p>{{cellPhone}}</p>
                </div>
                <div class="form-group col">
                  <label for="exampleInputEmail1">Telf casa</label>
                  <p>{{homePhone}}</p>
                </div>
                <div class="form-group col">
                  <label for="exampleInputEmail1">Telf. Ofic.</label>
                  <p>{{workPhone}}</p>
                </div>
              </div>
              {{/with}}

              <div class="row justify-content-end mt-2">
                <div class="px-3">
                  <button data-dismiss="modal" type="button" class="btn btn-primary visit-detail-cb">Aceptar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>